

<div class="main top-main">
  <div class="top-message">
<h2>名取への様々な思いを溢れ出させ、物語を紡ぎましょう！！！</h2>
<p>暗い話、明るい話、ドゥエッチな話、サイコな話なんでもござれ！！ヌォンタート図書館の開館だ！！！</p>
<p>（当館はせんせぇ方より巻きあg…ゲフンゲフン！！頂いたスパチャにより建てられました）</p>

</div>
</div>
</html>