

<div class="main top-main">
  <div class="top-message">

  <h2>愛してるといってください</h2>
  <p>名取に　愛をください　頑張ります</p>
    <img src= "/yaminatori.jpg">
  <br>
  <br>
  <br>
  <br>
  <p>… … …… … …… … …… … …… … …</p>
  <p>……ナースが、いいです…</p>
  <br>
  <br>
  <br>
  <br>  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  yaminatori.jpg

  <p>蜉ｩ縺代※窶ｦ蜉ｩ縺代※繧遺?ｦ?√ｂ縺?＞</p>
  
  <p> 繧??ｦ縺ゅ＝縺ゅ＝??ｼ?ｼ</p>
  <p>縺ｪ繧薙〒窶ｦ縺ｪ繧薙〒窶ｦ?溘ｏ縺九ｉ縺ｪ縺?ｏ縺九ｉ縺ｪ縺?ｏ縺九ｉ縺ｪ縺?ｼ?ｼ?ｼ</p>




  </div>
</div>

</html>